/* Global styles 
--------------------------------------------------------------*/


html {
    /* border box fix */
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  /* *, *:before, *:after {
    box-sizing: inherit;
  } */

body {
    color: #343434;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
img {
    width: 300px
   }

a {
    color: #FFE66D
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1.5;
    padding-top: 60px;
}
h2 {
    font-size: 60px;
    padding-top: 80px;
}
h1, h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    margin: 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
    padding-top: 10px;
}
.item-details h3 ~ p {
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
    padding-top: 0px;
}
h3 {
 margin-bottom: 0;
 }
.item-details h3 + p {
   font-style: italic; 
}

.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-style: none;
}*
/* Profile 
--------------------------------------------------------------*/

* {
    margin: 0;
}
.container {
    width: 100%;
    height: 95vh;
    /* background:#2F3061; */
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh);
    overflow: hidden;
    position: relative;
}
.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.container::before {
  background: #F7FFF7;
}
.container::after {
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 100%, 0 80vh);
  background: #2F3061;
}
header {
    background: #2F3061;
    color: #F7FFF7;
}
.header-content {
    padding-bottom: 80px;
}

/* Projects 
--------------------------------------------------------------*/


.projects {
    background: #F7FFF7;
}
.projects a {    
    color:#2F3061
}
.projects .btn {
    color:#2F3061;
    /* background: #2F3061; */
    text-decoration: none;
    padding: 8px;
    border: 1px solid #2F3061;
    border-radius: 12px;
    display: inline-block;
    transition: ease-out 0.3s;
}
.btn:hover {
    color:#F7FFF7;
    cursor: pointer;
    background: #2f3061cc;
}
.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    opacity: 0;
    content: "";
    background-color: #2F3061;
}
.btn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.project-item {
    overflow: hidden;
}
.project-item h3 {
    margin-top: 0;
}



/* Work Experience
--------------------------------------------------------------*/


.work-experience {
    background: #A1C6D7;
}
.job-summary {
    padding-bottom: 30px;
    padding-top: 0px;
}


/* Education 
--------------------------------------------------------------*/
.education-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.education {
    background-image: url(/images/sharon-mccutcheon-unsplash.jpg);
    background-size: cover;
    background-position: top left;
    padding-bottom: 100px;
}
.education p {
    width: 60%
}

/* Contact Info & Social Media
--------------------------------------------------------------*/


footer {
    background: #343434;
    color: #F7FFF7;
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
.contact-list a {
    padding: 15px;
    display: inline-block;
  }
.fa-twitter {
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-twitter:hover {
    color: #00acee;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-linkedin {
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
.fa-linkedin:hover {
    color: #0072b1;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
.fa-github {
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-github:hover {
    color: #6e5494;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-pinterest {
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-pinterest:hover {
    color: #c8232c;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-file-pdf-o {
    color: white;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa-file-pdf-o:hover {
    color: #ed2224;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin: 5px 2px;
  }
  #resume-download {
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
  }
  /* Responsive 
  --------------------------------------------------------------*/
  @media screen and (min-width:750px) {
    header, footer {
        text-align: center;
    }
    .header-wrap {
        font-size: 18px;
        padding-top: 40px
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 20px;
        border-bottom: 1px dashed #343434;
        padding: 25px 0;
        }
    .contact-list {
         display: flex;
         justify-content: space-evenly;
         padding: 60px;
        }
  }
  @media screen and (max-width:749px) and (max-height: 1279px) {
    header, footer {
        text-align: center;
    }
    .content-wrap {
        /* padding: 40px; */
        padding-top: 20px
    }
    .header-wrap {
        padding-top: 60px;
        font-size: large;
    }
    .contact-list a {
        padding: 5px;
    }
  }
  @media screen and (max-width: 550px) and (max-height: 1080px) {
    header, footer {
        text-align: center;
    }
    .content-wrap {
        padding-bottom: 20px;
        line-height: 1.5;
        }
    h1 {
        font-size: 72px;
        line-height: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 60px;
        padding-bottom: 0px;
        text-align: center;
        line-height: 1;
    }
    .header-wrap {
        font-size: medium;
        padding-top: 10px;
        padding-bottom: 0px;
    }
  }
  @media screen and (max-width: 450px) and (max-height: 920px) {
    .content-wrap { 
        padding: 10px;
        line-height: 1.5;
        text-align: left;
        }
    h1 {
            font-size: 70px;
            line-height: 1;
            padding-top: 20px;
            padding-bottom: 0px;
            text-align: center;
        }
    h2 {
            font-size: 48px;
            line-height: 1;
            padding-top: 30px;
            padding-bottom: 20px;
        }
    .header-wrap {
            padding-top: 10px;
            padding-bottom: 0px;
            font-size: medium;
            text-align: center;
        }
    .contact-list {
            text-align: center;
        }
    }
@media screen and (max-width: 380px) and (max-height: 720px) {
    .content-wrap {
            padding: 10px;
            line-height: 1.5;
        }
    h1 {
            font-size: 60px;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 0px;            
        }
    h2 {
            font-size: 48px;
            padding: 20px;
            padding-bottom: 20px;
            font-weight: 400;
        }
    .header-wrap {
            /* font-size: 12px; */
            padding-top: 0px;
            padding-bottom: 0px;
            font-size: 12px;
            text-align: center;
        }
    .job-item {
            line-height: 1.5;
        }
    .education {
        padding-bottom: 40px;
    }
    .contact-list {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .fa {
        padding: 20px;
        font-size: 40px;
        width: 50px;
        text-align: center;
        justify-content: center;
        margin: 5px 2px;
      }
    }